﻿@model IEnumerable<SchoolManagement.Model.Entity.StudentClass>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        Student Class list
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Html.ActionLink("Create New", "Create")
        </small>
    </h1>
</div>

<div class="row">
<div class="col-xs-12">
    <table id="simple-table" class="table  table-bordered table-hover">
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Section.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shift.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassName.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName.Name)
            </td>
            <td>
                <button class="btn btn-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                </button>
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                <button class="btn btn-danger">
                    <i class="fa fa-trash-o fa-lg"></i>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </button>
            </td>
        </tr>
            }

        </thead>
    </table>
</div>

</div>
