﻿@using IdentitySample.Models;
@using SchoolManagement.Model;

<!DOCTYPE html>
<html lang="en">
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

   
    
<title>Nqabakazulu Comprehensive High School</title> 
            @*Jquery & Validaton*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    @*@RenderBody()
        @RenderSection("Scripts", true)
        @RenderSection(name: "Styles", required: true)*@







    <!-- bootstrap & fontawesome -->
    @*<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    @*<script src="~/assets/js/ace-extra.min.js"></script>*@

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="/Home/Index" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Nqabakazulu Comprehensive High School
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="grey dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4 Tasks to complete
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Software Update</span>
                                                <span class="pull-right">65%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Hardware Upgrade</span>
                                                <span class="pull-right">35%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Unit Testing</span>
                                                <span class="pull-right">15%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Bug Fixes</span>
                                                <span class="pull-right">90%</span>
                                            </div>

                                            <div class="progress progress-mini progress-striped active">
                                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See tasks with details
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                                            Bob just signed up as an editor ...
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                    New Orders
                                                </span>
                                                <span class="pull-right badge badge-success">+8</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                    Followers
                                                </span>
                                                <span class="pull-right badge badge-info">+11</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 Messages
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="~/assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Alex:</span>
                                                    Ciao sociis natoque penatibus et auctor ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>a moment ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="~/assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Susan:</span>
                                                    Vestibulum id ligula porta felis euismod ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>20 minutes ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="~/assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Bob:</span>
                                                    Nullam quis risus eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>3:15 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="~/assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Kate:</span>
                                                    Ciao sociis natoque eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>1:33 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="~/assets/images/avatars/avatar.png" class="msg-photo" alt="Fred's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Fred:</span>
                                                    Vestibulum id penatibus et auctor  ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>10:09 am</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    See all messages
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/images/avatars/avatar2.png" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                @User.Identity.Name!
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="@Url.Action("ChangePassword", "Manage")">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Change Password
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {@Html.AntiForgeryToken()
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    LogOut
                                </a>
                            </li>
                        }
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>
    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="active">
                    <a href="/Home/Index">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                @if (User.IsInRole("Admin"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">
                        Admissions
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/Account/Register">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Register Account
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
                <ul class="submenu">
                    <li class="">
                        <a href="/Students/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Admission list
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Sessions/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Session
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Groups/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Group Bands
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/StudentApplications/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Apply
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/WorkSchedules/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Create Schedule
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Schedule/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                             Schedule
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/StudentApplications/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Received Applications
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/GuardianTypes/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Add Guardian Type
                        </a>
                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>}
                @if (User.IsInRole("Admin"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Registrations </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/Admisions/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Make An Admission
                        </a>
                        <b class="arrow"></b>
                    </li>
                    @*<li class="">
            <a href="/Registrations/Create">
                <i class="menu-icon fa fa-caret-right"></i>
                Register
            </a>
            <b class="arrow"></b>
            </li>*@

                    <li class="">
                        <a href="/Students/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Admission list
                        </a>
                        <b class="arrow"></b>
                    </li>


                </ul>
            </li>
                            <li class="">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-list"></i>
                                    <span class="menu-text"> School Fees </span>

                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu">
                                    <li class="">
                                        <a href="/FeeTypes/Index">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Fee Type
                                        </a>

                                        <b class="arrow"></b>
                                    </li>


                                    <li class="">
                                        <a href="/ClassFees/Index">
                                            <i class="menu-icon fa fa-caret-right"></i>
                                            Class Fees
                                        </a>

                                        <b class="arrow"></b>

                                </ul>
                            </li>}


                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Students </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/Students/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Students list
                        </a>

                        <b class="arrow"></b>
                    </li>


                    <li class="">
                        <a href="/StudentClasses/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Add Student Class
                        </a>

                        <b class="arrow"></b>



                    <li class="">
                        <a href="/AssignRolls/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Assign Student Rolls
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/Attendances/Index1">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Attendance
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Attendances/Search">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Search your Subject
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>}
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Classes </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">

                    <li class="">
                        <a href="/ClassNames/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Add Class Names
                        </a>
                        <b class="arrow"></b>


                    </li>

                    <li class="">
                        <a href="/Shifts/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Add Class Shifts
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Sections/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Section
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/StudentClasses/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Create Class
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/AssignTeacheToClasses/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Assign Teacher to Class
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/StudentClasses/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            View Classes
                        </a>
                        <b class="arrow"></b>
                    </li>



                </ul>
            </li>}
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Subjects </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/Subject/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Create Subjects
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/ClassSubjects/FindSubject">
                            <i class="menu-icon fa fa-caret-right"></i>
                            View Class Subject
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Subject/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Subject List
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/SubjectAssignToTeachers/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Assign Teacher to subject
                        </a>
                        <b class="arrow"></b>
                    </li>



                </ul>
            </li>}


                @if (User.IsInRole("Admin") || User.IsInRole(""))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> Teachers </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/Account/TeacherRegister">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Add Teachers
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Teachers/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Teacher List
                        </a>
                        <b class="arrow"></b>
                    </li>


                </ul>
            </li>}

                @if (User.IsInRole("Admin") || User.IsInRole(""))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-pencil-square-o"></i>
                    <span class="menu-text"> Employee </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/Employe/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Add Employee
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/JobInfoes/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Job Info
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/Employe/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Employee List
                        </a>
                        <b class="arrow"></b>
                    <li class="">
                        <a href="/Designations/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Designation
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/EducationLevels/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Education Level
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/ExamTitles/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Exam Type
                        </a>

                        <b class="arrow"></b>
                    </li>



                </ul>
            </li>}
                @if (User.IsInRole("Admin"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">  Guardian </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>


                <ul class="submenu">


                    <li class="">
                        <a href="/Guardians/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Guardian List
                        </a>
                        <b class="arrow"></b>
                    </li>



                </ul>
            </li>}
                @if (User.IsInRole("Guardian"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">  Admissions </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>


                <ul class="submenu">

                    <li class="">
                        <a href="/StudentApplications/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Make Application
                        </a>
                        <a href="/StudentApplications/Index2">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Your Application
                        </a>
                        <a href="/Students/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Your details
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/ClassFees/Create">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Class Fee
                        </a>
                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/Attendances/Index5">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Attendance details
                        </a>

                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>}
                @if (User.IsInRole("Guardian"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">  Registration </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>


                <ul class="submenu">

                    <li class="">
                        <a href="/Students/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Proof Of registartion
                        </a>

                        <b class="arrow"></b>
                    </li>
                    @*<li class="">
                <a href="/ClassFees/Create">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Class Fee
                </a>
                <b class="arrow"></b>
            </li*@>



                </ul>
            </li> } @*@if (User.IsInRole("Guardian"))
                {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text">  Student </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>


                        <ul class="submenu">

                            <li class="">
                                <a href="/Students/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    student Details
                                </a>

                                <b class="arrow"></b>
                            </li>*@ @*<li class="">
        <a href="/ClassFees/Create">
            <i class="menu-icon fa fa-caret-right"></i>
            Class Fee
        </a>
        <b class="arrow"></b>
    </li>*@ @*</ul>
                        </li>
                    }*@ @*@if (User.IsInRole("Guardian"))
    {
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">  Classes </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>


            <ul class="submenu">

                <li class="">
                    <a href="/AssignedTeacheToClasses/Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Your Application
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="/ClassFees/Create">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Class Fee
                    </a>
                    <b class="arrow"></b>
                </li>



            </ul>
        </li>
    }*@
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text"> School Profile </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/Schools/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            School Profile
                        </a>

                        <b class="arrow"></b>
                    </li>
                    @*<li class="">
                <a href="/Calender/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Class Attendence
                </a>

                <b class="arrow"></b>
            </li>
                @*<li class="">
                <a href="/ClassSubjects/FindSubject">
                    <i class="menu-icon fa fa-caret-right"></i>
                    View Class Subject
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="/Suject/Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Update Subject
                </a>
                <b class="arrow"></b>
            </li>*@



                </ul>
            </li> } @*@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text"> Result Processing </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>


                        <ul class="submenu">
                            <li class="">
                                <a href="/ExamMarks/Create">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Assign Marks
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/Result/FindResult">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    View Result
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/Calender/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Calender
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-desktop"></i>
                            <span class="menu-text">
                                Academic Operations
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="/Schools/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    School Profile
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Academic
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>



                                <ul class="submenu"></ul>
                            </li>
                            <li class="">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Employment
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu"></ul>
                            </li>
                        </ul>
                    </li>
                }*@
            </ul><!-- /.nav-list -->


            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
            @Html.Partial("_LoginPartial")
    
        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                            <i class="ace-icon fa fa-cog bigger-130"></i>
                        </div>

                        <div class="ace-settings-box clearfix" id="ace-settings-box">
                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <div class="pull-left">
                                        <select id="skin-colorpicker" class="hide">
                                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        </select>
                                    </div>
                                    <span>&nbsp; Choose Skin</span>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-add-container">
                                        Inside
                                        <b>.container</b>
                                    </label>
                                </div>
                            </div><!-- /.pull-left -->

                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                                </div>
                            </div><!-- /.pull-left -->
                        </div><!-- /.ace-settings-box -->
                    </div><!-- /.ace-settings-container -->
                    @RenderBody()
                    @*@RenderSection("scripts", required: false)*@
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Nqabakazulu Comphrehesive High School</span>
                        Application &copy; 2020
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>




    <!-- basic scripts -->
    <!--[if !IE]> -->
    @*<script src="~/assets/js/jquery-2.1.4.min.js"></script>*@

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
   @*<script src="~/assets/js/bootstrap.min.js"></script>*@

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

     ace scripts 
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
   
</body>
</html>
