﻿@model SchoolManagement.Model.Entity.StudentApplication

@{ ViewBag.Title = "Resister Details"; }

@*<h2 class="title text-center">@ViewBag.Title</h2>*@
<div class="row">
    <div class="col-md-4">
        <h3>Student Registration Details</h3>
        <table class="table">

            <tr>
                <th>Class Id</th>
                <td>
                    <div class="input-group">
                        @Html.DisplayFor(m => m.ClassName.Id, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ClassName.Id, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>Class name  </th>
                <td>
                    <div class="input-group">
                        @Html.DisplayFor(m => m.ClassName.Name, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ClassName.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.DOB)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.DOB, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Name)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.Name, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.NID)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.NID, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.NID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.ParmanentAddress)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.ParmanentAddress, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.ParmanentAddress, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.PresentAddress)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.PresentAddress, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.PresentAddress, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        @*<h3>Booking details</h3>*@
        <table class="table">
            <tr>
                <th>@Html.LabelFor(model => model.Email)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Registration Number" } })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </td>
            </tr>
           
            <tr>
                <th>@Html.LabelFor(model => model.Gender)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.Gender, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.HomeLanguage)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.HomeLanguage, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.HomeLanguage, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Race)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.Race, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Race, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Religion)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.Religion, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Religion, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.Surname)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.Surname, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.StudentNumber)</th>
                <td>
                    <div class="input-group">

                        @Html.DisplayFor(m => m.StudentNumber, new { @class = "form-control", @placeholder = "Registration Number" })
                    </div>
                    @Html.ValidationMessageFor(m => m.StudentNumber, "", new { @class = "text-danger" })
                </td>
            </tr>
            @*<tr>
                <th>@Html.LabelFor(model => model.subject)</th>
                <td>
                    <a href="@Url.Action("SubjectView2", "Subject", new { id = Model.ClassNameId })" rel="tooltip" title="Register" class="btn btn-primary btn-simple btn-xs">View Subjects<i class="fa fa-registered" aria-hidden="true"></i></a>

                </td>
            </tr>*@
        </table>
    </div>
</div>



<div class="row text-center">
    @Html.ActionLink("Register", "EmailstudentInfor", "StudentApplications", new { id = Model.Id }, new { @class = "btn btn-success" })
</div>

