﻿@model SchoolManagement.Model.Entity.Subject

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentClass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject_Credit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject_Credit)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.SubjectAssignTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectAssignTo)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Theory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mcq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mcq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Practical)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Practical)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
