﻿@model IEnumerable<SchoolManagement.Model.Entity.Student>

@{
    ViewBag.Title = "Index";
}
<h2>Student Details</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>     
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tuition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalanceDue)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tuition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BalanceDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if (item.Status == "Registered")
            {
                <a href="@Url.Action("OnceOff", "Students", new { id = item.Id })" onclick="return confirm('Are you sure you want to Pay deposit fee, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Pay" class="btn btn-primary btn-simple btn-xs"><i style="font-size:24px" class="fa">&#xf1ed;</i></a>
            }

        </td>
    </tr>
}

</table>
