﻿@model IEnumerable<SchoolManagement.Model.Entity.Attendance>

@{
    ViewBag.Title = "Index";
    var message = TempData["AlertMessage"] ?? string.Empty; }
<script>
    var msg = '@message';
    if (msg)
        alert(msg);
</script>

<h2>Attendence</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendance_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendance_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberPresent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberAbsent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPresent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberAbsent)
            </td>
            <td>
                @Html.ActionLink("Present", "Present", "Attendances", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Absent", "Absent", "Attendances", new { id = item.Id }, new { @class = "btn btn-danger" })
               @* @Html.ActionLink("Increase", "IncreaseDate", "Attendances", new { id = item.Id }, new { @class = "btn btn-primary" })*@

            </td>
        </tr>
    }

</table>
